{% load static %}
{% block content %}

<!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title> Story IX: Hanifah Annisa Putri </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
        <link rel="stylesheet" href="{% static 'story_9.css' %}">
    </head>

    <body>
        <div class="container" style="width: 100%" align="center">
            <div class="row">
                <div class="col tengah" align="center">
                    <h1>Search: Books</h1>
                </div>
            </div>

            <div class="row">
                <div class="col tengah" align="center">
                    <h4>Input keywords below to find your desired book.</h4>
                </div>
            </div>

           
            <div class="row">
                <div class="col">
                    <input type="text" placeholder="Input keywords here..." id="search-bar" name="search">
                </div>
            </div>

            <div class="row">
                <div class="col" align="left">
                    <button type="button" id="myBtn" onclick="favorites()" data-toggle="modal">Reader's Favorites</button>
                    <div id="myModal" class="modal">
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <div class="modal-body" onclick="favorites()">
                                click here for the list of favorites
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
        
            <br>
            <table class="table">
                <thead>
                    <tr align="center">
                        <th scope="col" class="align-middle">No</th>
                        <th scope="col" class="align-middle">Cover</th>
                        <th scope="col" class="align-middle">Title</th>
                        <th scope="col" class="align-middle">Authors</th>
                        <th scope="col" class="align-middle">Publisher</th>
                        <th scope="col" class="align-middle">Published Date</th>
                        <th scope="col" class="align-middle">Like</th>
                    </tr>
                </thead>
                <tbody id="search-result" align="center">
                    <div id="like"></div>
                    <div id="unlike"></div>
                </tbody>
            </table>
        </div>

        <script src="{% static 'story9.js' %}"></script>
        <script src="{% static 'modal.js' %}"></script>
    </body>

</html>

{% endblock %}