a {
    text-decoration: none;
    color: inherit;
}

p {
    font-size: small;
    margin: none;
    color:white;
}

.description {
    margin: 1em auto 2.25%;
}

body {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    color: white;
    background-image: linear-gradient(#00313C, #E31C79);
    margin-top: 1%;
    margin-bottom: 3%;
    background-size: cover;

}

.table {
    color: white;
    width: 100%;
}

.tengah {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    padding: 0%
}

#search-bar {
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: black;
    padding: 1%;
    color: white;
}

.btn {
    margin-top: 1%;
}

h1 {
    font-weight: 700;
    font-size: xx-large;
}

ul {
    list-style: none;
    padding: 0;
}

.inner {
    padding-left: 1%;
    overflow: hidden;
    display: none;
}

.inner .show {
    display: block;
}

li {
    margin: .5% 0;
}

.toggle {
    width: 100%;
    display: block;
    background: var(--second-color);
    color: var(--first-color);
    padding: .75%;
    border-radius: 0.15%;
    transition: background .3s ease;
}

.titik {
    margin: 0 0.2rem 0 0.2rem;
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 10%; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.7); 
  }
  
.modal-content {
    background-color: #E31C79;
    margin: auto;
    padding: 3%;
    border: 1px solid black;
    width: 50%;
  }
  
.close {
    color: #00313C;
    float: left;
    font-size: xx-large;
    font-weight: bold;
  }
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

#myBtn {
    background-color: #E31C79;
    border: 2px solid black;
    color: white;
    font-weight: 500;
    padding-top: .5%;
    padding-bottom: .5%;
    padding-right: 1%;
    padding-left: 1%;
  }

button {
    background-color: #00313C;
    border: 2px solid black;
    color: white;
    font-weight: 500;
}

.modal-body {
    color: white;
    font-weight: 500;
    line-height: 0%;
}
